.DS_Store
.idea/
.vscode/settings.json

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock

build/
dist/

.venv/
routers.json
